@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: circle;
}

ul {
  text-align: center;
  list-style-position: outside;
}

ul ::marker {
  color: red;
  font-size: 2em;
  content: "==>";
}