@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

ul {
  background: black;
  list-style-type: none;
  padding: 0.5rem 0;
  text-align: right;
}

li {
  display: inline-block;
  padding-inline: 1rem;
}

li a {
  display: block;
  width: 100%;
  color: whitesmoke;
  text-decoration: none;
}

li a:hover, li a:focus {
  color: black;
  background: whitesmoke;
}