* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 20px dashed red;
    border-top-style: solid;
    border-bottom-width: 5px;
    border-left-color: green;
    padding: 1.5em;
    margin: 1.5em;
    font-size: 1.5rem;
}

